Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [4]:
a = [2,3,4,5,6,7]
a.append('mango')
a.extend(['banana','grapes','orange'])
a.insert(4,"apple")
a.pop()
print(a)

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

Q2.
L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [5]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [16]:
L = [4,5,6,8,3]
L.reverse()
print(L)

[3, 8, 6, 5, 4]

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [19]:
L = [2,4,7,3,6,8]
[i**2 for i in L ]

[4, 16, 49, 9, 36, 64]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [20]:
def sum_tuple(t):
    
    return sum(t)

In [21]:
m = (2,5,6,7,3)
print(sum_tuple(m))

23

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [28]:
a = {"apple","banana", "guava"}
b = {"orange","papaya", "cherry"}
c = a.union(b)
c

{'apple', 'banana', 'cherry', 'guava', 'orange', 'papaya'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [38]:
set1 = {'ananya', 'rohit','lavkush', 'anurag','harsh'}
set1.add('pankaj')

print(set1)

{'rohit', 'lavkush', 'pankaj', 'harsh', 'anurag', 'ananya'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [39]:
set1 = {"cow", "dog","puppy","horse"}
set1.remove("cow")
set1

{'dog', 'horse', 'puppy'}

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [41]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
movie_pairs =  list(zip(favorite_books,favorite_movies))
movie_pairs

[('To Kill a Mockingbird', 'The Shawshank Redemption'),
 ('Pride and Prejudice', 'The Godfather'),
 ('1984', 'The Dark Knight')]

Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [49]:
def consecutive_difference(lst):
    # Create an empty list to store the differences
    diff_lst = []

    # Iterate through the indices of the input list up to the second-to-last element
    for i in range(len(lst)-1):
        # Calculate the absolute difference between the current element and the next element
        diff_lst.append(abs(lst[i] - lst[i+1]))

    # Return the list of differences
    return diff_lst

In [50]:
lst = [3,5,2,8,1]
value = consecutive_difference(lst)
print(value)

[2, 3, 6, 4]