Q1. Write a Python program that defines a function called "add_numbers" that takes two arguments (i.e.,
numbers) and returns their sum. Within the function, add the two numbers together and return the result
using the return statement. Call the function with the values 5 and 6, and print out the returned result.
This will result in the addition of 5 and 6, with the output of the program being the sum of these two
numbers.

In [9]:
def add_number( num1, num2):
    num3 = num1 + num2
    
    return num3

In [10]:
num1 , num2 = 5 , 6
ans =  add_number(num1 , num2)
print("This will result in the addition of 5 and 6  :" ,ans)

This will result in the addition of 5 and 6  : 11

Q2. Write a Python program that calculates the square root of a given number using a built-in function.
Specifically, the program should take an integer or float input from the user, calculate its square root
using the 'sqrt()' function from the 'math' module, and print out the result to the user. As an example,
calculate the square root of the number 625 using this program, which should output the value of 25.

In [11]:
import math

In [13]:
num = 625
square_root = math.sqrt(num)
print("Square root of the number 625 is :", square_root)

Square root of the number 625 is : 25.0

Q3.Write a program that prints all prime numbers between 0 to 50.

In [6]:
for number in range(2,51):
    for i in range(2,number):
        if number%2 ==0:
            break
    else:
        print(number)

2
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

other by function method

In [11]:
lower = int(input("enter the lower limit here"))
upper = int(input("enter the upper limit here"))

for num in range(lower, upper+1):
    if num > 1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

enter the lower limit here 2
enter the upper limit here 50

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

ques : all the even number 0 to 50

In [17]:
for i in range(2,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Q4.How can we swap the values of three variables (let's say a, b, and c) without using a fourth variable?
For example, if we have a=5, b=8, and c=9, how can we obtain a=9, b=5, and c=8? The challenge is to
perform this operation without using an additional variable to store any of the values during the
swapping process.

In [18]:
a=5
b=8
c=9
a,b,c = c,a,b

print("a" ,a)
print("b", b)
print("c",c)

a 9
b 5
c 8

Q5. Can you write a program that determines the nature of a given number (in this case, 87) as being
positive, negative, or zero? The program should be designed to take the number as input and perform the
necessary calculations to determine if the number is positive (i.e., greater than zero), negative (i.e., less
than zero), or zero (i.e., equal to zero). The output of the program should indicate which of these three
categories the given number falls into.

In [28]:
num = 87
if num>0:
    print("Number is positive ")
elif num<0:
    print("Number is negative ")
else:
    print("Number is zero")

Number is positive

Q6. How can you create a program that determines whether a given number (in this case, 98) is even or
odd? The program should be designed to take the number as input and perform the necessary
calculations to determine whether it is divisible by two. If the number is divisible by two without leaving a
remainder, it is an even number, and if there is a remainder, it is an odd number. The output of the
program should indicate whether the given number is even or odd.

In [31]:
num = 98
if num%2==0:
    print("even number")
else:
    print("odd number")

even number

Q7.Write a program for sum of digits.the digits are 76543 and the output should be 25.

In [3]:
digit = 76543
sum_digit = 0

while digit > 0:
    sum_digit += digit % 10
    digit//=10
print("the digits 76543 sum is :", 25)

the digits 76543 sum is : 25

In [4]:
# for loop :

def sum_digit(number):
    
    sum_digit= 0
    
    for digit in str(number):
        sum_digit += int(digit)
        
    return sum_digit

In [5]:
number = 76543
results = sum_digit(number)
print(" 76543 sum is:" , results)

 76543 sum is: 25

Q8.Write a program for reversing the given number 5436 and the output should be 6345.

In [12]:
def reverse_num(number):

    reverse_string = str(number)[::-1]
    
    reversed_number = int(reverse_string)
    
    return reversed_number

In [13]:
number = 5436
results = reverse_num(number)
print("5436 is reversed in :", results)

5436 is reversed in : 6345

Q9.Write a program to check if a given number 371 is an Armstrong number?

In [29]:
def is_armstrng(number):
    
    num_str =str(num)
    num_len=  len(num_str)

    arm_strng =  sum([int(digit)**num_len for digit in num_str])
    if arm_strng == number:
        return True
    else:
         False

In [30]:
number = 371
results = is_armstrng(number)
print("371 is an armstrong")

371 is an armstrong

Q10.Write a program the given year is 1996, a leap year.

In [31]:
year = 1996
if year%4==0:
    print("leap year")
else:
    print("Not a Leap year")

leap year

In [36]:
def leap_year(year):
    if year% 4 == 0:
        return True
    else:
        return False

In [41]:
year = 100
res = leap_year(year)
print( res)

True